{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="segment">
    {{#if editableSegment}}
        <div data-toggle="collapse" data-target="#{{simpleId}}" class="clickable">
            <table class="segment-header-table">
                <tr>
                    <td>
                        <label class="segment-title-{{simpleId}} nested-label{{nestedLevel}}">{{title}}</label>
                    </td>
                    <td>
                        <a href="#" class="remove-segment fa fa-minus-square fa-lg minus-button"/>
                    </td>
                </tr>
            </table>
        </div>
    {{/if}}
    <div id="{{simpleId}}" class="segment-content {{#if editableSegment}}collapse{{/if}}">
        {{#if showFields}}
            <table class='table align-middle'>
                <tbody class="form-fields">

                </tbody>
            </table>
        {{/if}}
        <table class='table align-middle'>
            <tbody class="form-segments">

            </tbody>
        </table>

        {{#if customizable}}
            <div id="customizable-{{simpleId}}"/>
        {{/if}}

        {{#if showAssociations}}
            <div id="associations-{{simpleId}}"/>
        {{/if}}
    </div>
</div>